{% extends 'layout.html' %}

{% block title %}
    Create Ad Request
{% endblock %}

{% block content %}
    <div class="p-4 bg-white bg-opacity-75 rounded shadow mt-3">
       <h1 class="display-1">Create Ad Request</h1>

       <form action="{{url_for('create_ad_request_post', influencer_id = influencer_id)}}" method="POST">
            
            <div class="form-group p-2">
                <label for="campaign_id" class="form-label">Campaign Name</label>
                <select id="campaign_id" name="campaign_id" class="form-select">
                    <option value=""></option>
                    {% for campaign in campaigns %}
                    <option value="{{ campaign.id }}" data-requirements="{{ campaign.requirements }}" data-payment="{{ campaign.payment_amount }}">{{ campaign.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group p-2">
                <label for="influencer_name" class="form-label">Influencer Name</label>
                <select name="influencer_id" class="form-select">
                    {% for influencer in influencers %}
                        {% if influencer_id is not none and influencer.id == influencer_id %}
                            <option value="{{influencer.id}}" selected>{{influencer.name}}</option>
                        {% else %}
                            <option value="{{influencer.id}}">{{influencer.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group p-2">
                <label for="messages" class="form-label">Message</label>
                <input type="text" class="form-control" name="messages">
            </div>
            <div class="form-group p-2">
                <label for="requirements" class="form-label">Requirements</label>
                <input type="text" id='requirements' class="form-control" name="requirements">
            </div>
            <div class="form-group p-2">
                <label for="payment_amount" class="form-label">Payment Amount</label>
                <input type="number" id="payment_amount" class="form-control" name="payment_amount" min="0" required>
            </div>
            <div class="form-group p-2">
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Create Ad Request</button>
            </div>
       </form>

       <div class="form-group p-2">
            <a href="{{ url_for('sponsor_home') }}" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i> Go Back</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const campaignSelect = document.getElementById('campaign_id');
            const requirementsInput = document.getElementById('requirements');
            const paymentInput = document.getElementById('payment_amount');
            
            campaignSelect.addEventListener('change', function() {
                const selectedOption = campaignSelect.options[campaignSelect.selectedIndex];
                const requirements = selectedOption.getAttribute('data-requirements');
                const payment = selectedOption.getAttribute('data-payment');
                
                requirementsInput.value = requirements || '';
                paymentInput.value = payment || '';
            });
        });
    </script>
{% endblock %}