{% extends 'layout.html' %}

{% block title %}
    Update Campaign
{% endblock %}

{% block content %}
<form action="{{  url_for('update_campaign_post', campaign_id = campaign.id)  }}" method="POST" class="p-4 bg-white bg-opacity-75 rounded shadow mt-3">
    <h1 class="display-1">Update Campaign</h1>
    
    <div class="form-group p-2">
        <label for="name" class="form-label">Name of the Campaign</label>
        <input type="text" name="campaign_name" class="form-control" required value="{{campaign.name}}">
    </div>
    <div class="form-group p-2">
        <label for="description" class="form-label"> Description </label>
        <input type="text" name="description" class="form-control" value="{{campaign.description}}" required>
    </div>
    <div class="form-group p-2">
        <label for="start_date" class="form-label">Start Date</label>
        <input type="date" name="start_date" class="form-control" value="{{campaign.start_date}}" required>
    </div>
    <div class="form-group p-2">
        <label for="end_date" class="form-label">End Date</label>
        <input type="date" name="end_date" class="form-control" value = "{{campaign.end_date}}" required>
    </div>
    <div class="form-group p-2">
        <label for="budget" class="form-label">Budget</label>
        <input type="number" name="budget" class="form-control" min="0" value="{{campaign.budget}}" required>
    </div>
    <div class="form-group p-2">
        <label for="visibility" class="form-label">Visibility</label>
        <select name="visibility" class="form-select">
            <option selected value="public">Public</option>
            <option value="private">Private</option>
        </select>
    </div>
    <div class="form-group p-2">
        <label for="goals" class="form-label">Goals</label>
        <input type="text" name="goals" class="form-control" value="{{campaign.goals}}">
    </div>
    <div class="form-group p-2">
        <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Update Campaign</button>
    </div>

    <div class="form-group p-2">
        <a href="{{ url_for('show_campaigns',sponsor_id = campaign.sponsor_id) }}" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i> Go Back</a>
    </div>
</form>
{% endblock %}