{% extends 'layout.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="p-4 bg-white bg-opacity-75 rounded shadow mt-3">
        <h1 class="display-1">Hello @<span class="text-muted">{{  influencer.username  }}</span></h1>
        <div class="d-flex gap-5">
            <a href="{{ url_for('show_ad_requests', influencer_id = influencer.id) }}" class="btn btn-primary"><i class="fa-regular fa-eye"></i> Show Ad Requests</a>
        
            <a href="{{  url_for('search_campaigns', influencer_id = influencer.id)  }}" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i> Search Campaigns</a>
        </div>
    </div>    

{% endblock %}