{% extends 'layout.html' %}

{% block title %}
    Search Campaigns
{% endblock %}

{% block content %}
    <div class="p-4 bg-white bg-opacity-75 rounded shadow mt-3">
        <h1 class="display-1">Hello @<span class="text-muted">{{  influencer.username  }}</span></h1>
        <div class="d-flex gap-5">
            <a href="{{ url_for('show_ad_requests', influencer_id = influencer.id) }}" class="btn btn-primary"><i class="fa-regular fa-eye"></i> Show Ad Requests</a>
        
            <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i> Search Campaigns</button>
        </div>
    </div>    

    <div class="p-4 bg-white bg-opacity-75 rounded shadow mt-3">
        <h1 class="display-1">Public Campaigns</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Budget</td>
                    <td>Goals</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for campaign in campaigns %}
                    <tr>
                        <td>{{campaign.name}}</td>
                        <td>{{campaign.description}}</td>
                        <td>{{campaign.start_date}}</td>
                        <td>{{campaign.end_date}}</td>
                        <td>{{campaign.budget}}</td>
                        <td>{{campaign.goals}}</td>
                        <td>
                           <form action="{{url_for('interested_campaign',campaign_id = campaign.id, sponsor_id = campaign.sponsor_id, influencer_id = influencer.id)}}" class="form" method="post">
                                <button type="submit" class="btn btn-success"> Interested </button>
                           </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group p-2"></div>
            <a href="{{ url_for('influencer_home') }}" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i> Go Back</a>
        </div>
    </div>
{% endblock %}