<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{  url_for('index')  }}">AdConnect</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if (not session.get('id')) or (session.get('is_flagged')==True) %}
            <li class="nav-item">
              <a class="nav-link" href="{{  url_for('login')  }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register')  }}">Register</a>
            </li>
          {% elif (session.get('id')) and (session.get('is_flagged') == False) %}
            {% if session['user_type'] == 'sponsor' %}
              <li class="nav-item"></li>
                <a class="nav-link" href="{{ url_for('sponsor_home')  }}">Home</a>
              </li>
            {% elif session['user_type'] == 'influencer' %}
              <li class="nav-item"></li>
                <a class="nav-link" href="{{ url_for('influencer_home')  }}">Home</a>
              </li>
            {% elif session['user_type'] == 'admin' %}
              <li class="nav-item"></li>
                <a class="nav-link" href="{{ url_for('admin_home')  }}">Home</a>
              </li>
            {% endif %}
            <li class="nav-item"></li>
              <a class="nav-link" href="{{ url_for('profile')  }}">Profile</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>